
        </div>
        
        <script src="/javascripts/cookie.js"></script>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascripts/socket.js"></script>
        
        <script src="/javascripts/scripts.js"></script>
        
    </body>
</html>