<!DOCTYPE html>
<html>
    <head>
        <title>Todo</title>
        <link href="/stylesheets/style.css" rel="stylesheet" media="all"/>
    </head>
    <body>
        <header>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/todo">Tasks</a></li>
            </ul>
        </header>
