
<%- include('header.ejs') %>

<main>
  
    <form action="" id="addTask" method="POST">
        <input type="text" name="task" placeholder="Your new task..." required>
        <input type="submit" name="add" value="Add New Task" />
    </form>

    <br>
    <hr>
    <br>

    <ul id="taskList">
        <% if( todos.length ) { %>
            <% todos.forEach( todo => { %>
                <li id="<%= todo.id %>"><%= todo.task %></li>
            <% }) %>
        <% } %>
    </ul>



</main>
    
<%- include('footer.ejs') %>
