<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link href="../css/style.css" rel="stylesheet" media="all"/>
    </head>
    <body>
        <header>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/info">Info</a></li>
                <li><a href="/random">Random</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </header>
