
<%- include('header.ejs') %>

<div class="container-fluid p-5" style="border: 1px solid #ccc;">

  <div id="main">

    <div class="w-75 float-right">
      <h3 class="text-right">Social Network</h3>
      <hr><br><br>
      
    </div>
    <div style="clear: both;"></div>

  </div>

</div>
    
<%- include('footer.ejs') %>
